


body {
    background-color: #DCDDE1;
    
}

p {
	font-family: "Arial";
	color: aliceblue;
}

h3 {
	color: aliceblue;
}

h1 h2 h3 h4 {
	font-family: "Franklin Gothic";
}

.mainWrapper {
    
}

.mainWrapperVid {
	
	width: 50%;
	margin-top: 100px;	
}


.headermenu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ECF0F1;
}

.navbar {
    background-color: #ECF0F1 !important;
    width: 100%;
}

.navbar a {
    color: black !important;
}

.navbar-toggler {
    background-color: #005288;
}

.headermenu img {
    width: 200px;
    height: auto;
}


.mainWrapper {
	background-image: url("../img/discovery-fire-galaxy-23793.jpg");
    background-repeat:no-repeat;
    background-position: center center;
    background-size: cover;
}



#map {
	height: 600px;
	width: 50%;
}




/* Footer -------------------------------------- */

.footer {
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
}

.footer img {
    width: 200px;
    height: auto;
}

.footer h4 {
    padding-top: 10px;
    font-size: 20px;
}

.sLogo {
    padding-top: 10px;
    transform: translate(15px, 0px);
}

.sOmEImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sOmEImg img {
    width: 40px;
    height: auto;
    margin: 20px;
}


/* ------------- break points -------------- */


@media all and (max-width: 1199px) {
	
	
} 

@media all and (max-width: 991px) {
	
	
} 

@media all and (max-width: 768px) {
	
	
	
} 

@media all and (max-width: 575px) {
	
	h3 {
		font-size: 15px;
	}
	
	p {
		font-size: 10px;
	}
	
	#map {
		width: 100%;
		margin-bottom: 50px;
		margin-top: 20px;
	}
	
}
