


body {
    background-color: #DCDDE1;
    
}

p {
	font-family: "Arial";
}

h1 h2 h3 h4 {
	font-family: "Franklin Gothic";
}

.mainWrapper {
    
}

.mainWrapperVid {
	
	width: 50%;
	margin-top: 100px;	
}


.headermenu {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #ECF0F1;
}

.navbar {
    background-color: #ECF0F1 !important;
    width: 100%;
}

.navbar a {
    color: black !important;
}

.navbar-toggler {
    background-color: #005288;
}

.headermenu img {
    width: 200px;
    height: auto;
}




.mediaplayer iframe {
    width: 100%; 
}

.textFieldOne {
    
    justify-content: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    width: 80%;
}

.textwrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
	margin-bottom: 50px;
}















/* Footer -------------------------------------- */

.footer {
    background-color: #ECF0F1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	
}

.footer img {
    width: 200px;
    height: auto;
}

.footer h4 {
    padding-top: 10px;
    font-size: 20px;
}

.sLogo {
    padding-top: 10px;
    transform: translate(15px, 0px);
}

.sOmEImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sOmEImg img {
    width: 40px;
    height: auto;
    margin: 20px;
}

/* ------------- break points -------------- */


@media all and (max-width: 1199px) {
	.mainWrapperVid {
		/*
		background-color: aqua;
		*/
		width: 80%;
		margin-top: 150px;
		
	}
	
	.textwrapper {
		height: 200px;
		margin-bottom: 400px;
		margin-top: 20px;
	}
	
} 

@media all and (max-width: 991px) {
	.mainWrapperVid {
		/*
		background-color: blue;
		*/
		width: 80%;
		margin-top: 10px;
	}
} 

@media all and (max-width: 768px) {
	.mainWrapperVid {
		/*
		background-color: yellow;
		*/
		width: 100%;
		margin-top: 10px;
	}
	
	.textwrapper {
		height: 200px;
		margin-bottom: 100px;
	}
} 

@media all and (max-width: 575px) {
	.mainWrapperVid {
		/*
		background-color: green;
		*/
		width: 100%;
		margin-top: 0px;
		
	}
	
	.sOmEImg img {
		width: 20px;
		height: auto;
		margin: 20px;
	}
	
	.textwrapper {
		padding-top: 70px;
		margin-top: 20px;
		margin-bottom: 100px;
	}
}







